.toolbar {
    text-align: center;
    width: 50%;
    margin: 0px auto;
}

.toolbar-button {
    color: #C5C;
    text-decoration: none;
    font-size: 10px;
    border: 1px solid #C7C;
    border-radius: 1px;
    padding: 5px;
    width: 1.5em;
    margin: .5px;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 0px 1px 0px #C8C;
}

.editor {
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border: 1px;
    border-color: #000000;
    border-style: inset;
}
