.toolbar {
    text-align: center;
    width: 50%;
    margin: 0px auto;
}

.toolbar-button {
    color: #9999ff;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #9999ff;
    border-radius: 1px;
    padding: 5px;
    width: 1.5em;
    margin: .5px;
    margin-top: 5px;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 1px 0px #6977f6;
}

.editor {
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border: 1px;
    border-color: #000000;
    border-style: inset;
}

.form-group {
    margin-top: 5px;
    padding: 5px;
}
